.edudu {
    color: #1F1C14 !important;
    text-align: center !important;
    font-family: Nunito !important;
    font-size: 40px !important;
    font-style: normal !important;
    font-weight: 800  !important;
    line-height: 55px !important;
   
    /* 114.583% */
}