.mainBox {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    align-items: flex-start;
    flex: 1 0 0;
    border-radius: 8px;
    border: 1px solid var(--Border-Disabled, #9E9E9E);
    background: #FFF;
    width:300px
}

.innerBox{
display: flex;
padding: 16px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
align-self: stretch;
}